<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_tag("htmujwbi3hqfdu0jch4c", width: 1300, height: 500, crop: :fill) %>');">
    <div class="card-description">
      <h1>TOUS LES CONCERTS A LILLE</h1>
    </div>
    <p><a class="btn btn-primary btn-lg" href="/bands" role="button">GROUPES</a></p>
    <p><a class="btn btn-primary btn-lg" href="/events" role="button">EVENEMENTS</a></p>
    <p><a class="btn btn-primary btn-lg" href="/concert_halls" role="button">SALLES</a></p>

</div>


<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_tag('htmujwbi3hqfdu0jch4c', width: 1300, height: 500, crop: :fill) %>');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
